<div class="col-md-8">
<h1>レストラン一覧</h1>



 <% @restaurants.each do |restaurant| %>
<div class="jumbotron">
  <h1><%= restaurant.name %></h1>
  <p><%= restaurant.tel %></p>
  <p><%= link_to '詳しくは…', restaurant, class: "btn btn-default btn-xs" %></a></p>
</div>
  <% end %>
</div>

<div class="col-md-4">
   <h2>オススメの店を追加</h2>
<a href="/restaurants/new"> <button type="button" class="btn btn-primary">新規追加</button>
      </div>

