<h1>レストラン一覧</h1>



 <% @restaurants.each do |restaurant| %>
<div class="jumbotron">
  <h1><%= restaurant.name %></h1>
  <p><%= restaurant.tel %></p>
  <p><%= link_to '詳しくは…', restaurant, class: "btn btn-default btn-xs" %></a></p>
</div>
  <% end %>
